* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* WebKit */
}

body {
    font-family: 'MuseoModerno', sans-serif;
    background-color: #f2f2f2;
    background: linear-gradient(135deg, #f2f2f2 25%, #e0e0e0 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.background-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    z-index: -1;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* WebKit */
    text-align: center;
    width: 450px; /* Aumenta a largura da caixa de login */
}

.system-name {
    font-size: 48px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 20px;
    color: #0078d4;
}

.login-form {
    max-width: 400px;
    width: 100%;
}

.login-form h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px; /* WebKit */
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px; /* WebKit */
    background-color: #0078d4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

.clock {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    color: #333;
}